
<ul class="nav navbar-nav side-nav" id="navigation">
    <li class="collapsed-content">
        <!-- Collapsed content pasting here at 768px -->
    </li>
    <li class="user-status status-online hide" id="user-status">
        <div class="profile-photo">
            <img src="images/profile-photo.jpg" alt= />
        </div>
        <div class="user">
            John <strong>Douey</strong>
            <span class="role">Administrator</span>

        </div>
    </li>
    <li class=" ">
        <a href="~/Admin/Index" class="dropdown-toggle"  title="Dashboard">
        <i class="fa fa-dashboard">
            <span class="overlay-label red"></span>
        </i>
        Dashboard
        </a>

    </li>


    <li class="">
        <a href="~/Employee/Index" title="Bootstrap Tables">
        <i class="fa fa-puzzle-piece"><span class="overlay-label greensea80"></span></i>
        Employee
        </a>
    </li>
    <li class="">
        <a href="~/Account/Index" title="Bootstrap Tables">
        <i class="fa fa-puzzle-piece"><span class="overlay-label greensea80"></span></i>
        Accounts
        </a>
    </li>
    <li class="">
        <a href="~/Schedule/Index" title="Bootstrap Tables">
        <i class="fa fa-puzzle-piece"><span class="overlay-label greensea80"></span></i>
        Schedule
        </a>
    </li>
    <li class="">
        <a href="~/EmployeeSchedule/Administration/locations/Locations.aspx" title="Bootstrap Tables">
        <i class="fa fa-puzzle-piece"><span class="overlay-label greensea80"></span></i>
        Locations
        </a>
    </li>
    <li class="">
        <a href="~/EmployeeSchedule/Administration/Break/Addbreak.aspx" title="Bootstrap Tables">
        <i class="fa fa-puzzle-piece"><span class="overlay-label greensea80"></span></i>
        Break
        </a>
    </li>
</ul>